
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("greend.jpg");
    color: white
}

.header {
    padding: 16px;
    background: #413f3b;
}

ul {
    float: right;
    text-align: right;
    margin: 0px;
    position: relative;
    top: 80px;
}

li {
    display: inline;
    height: 25px;
    font-size: 150%;
    margin-right: 15px;
    padding: 15px 25px;
    color: #ffffff;
}

li:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

#footer {
    padding: 8px 0px;
    background: #413f3b;
    text-align: center;

}

h4 {
    text-align: center;
    color: orangered;
}